
body{
  background-color: #27382c;
  text-align: center;
  max-width:100%;
}

header{
  background-color: #FFFFFF;
  overflow: hidden;
  position: fixed;
  width:100%;
  padding-top:10px;
  margin-bottom:8px;
  z-index: 2;
  transition: all 0.4s ease 0s;
}

#logo{
  background-image: url("images/weblogo.png");
  height:35px;
  width: 70px;
  margin-left: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

#buttstuff{
  font-family: Lato;
  position: relative;
  float: right;
  padding-right: 30px;
  top: -25px;
}

#buttstuff ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#buttstuff li{
  float: right;
  margin-right:16px;
}

#buttstuff li a{
  display: block;
  color: #00283D;
  text-align:center;
  text-decoration: none;
}


footer{
  position: fixed;
  bottom:0;
  width: 100%;
  height:2.5rem;
  background-color: #00283D;
  color: #FFFFFF;
  font-family: Lato;
  font-size:13px
}

#ricibanner{
  width:100%;
  height:45rem;
  background-image: url("images/ricibanner.jpg");
  background-position: center;
  background-size: cover;
}

#ricibanner p{
  text-align: center;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 20px;
}

#ricibanner p:first-child{
  padding-top: 20rem;
  font-size:80px;
  margin-bottom:-20px;
  border-bottom: 1px solid #ffffff;
  font-family: Lato;
  margin: auto;
  width: 40%;
}

#toc{
  width:12%;
  font-size:15px;
  font-family: Roboto;
  text-align:right;
  position: sticky;
  float:left;
  line-height:2;
  top:10em;
  left:1em;
  margin-top:4em;
  color: #507a5d;
}

#toc a{
  text-decoration: none;
  color:#ebebeb;
}

#teamspec{
  text-align:left;
  margin-right:1em;
  font-family:roboto;
  margin-left:auto;
  width:45%;
  font-size: 12px;
  margin-bottom:2em;
  line-height:1.5;
  padding-top:1.5em;
  letter-spacing:1px;
}

#teamspec a{
  color:white;
}


#riciteam{
  height: auto;
  max-width: 100%;
  margin-left:15em;
  padding-right:5em;
  margin-bottom:-2em;
  margin-top:2em;
  color: white;
}

.title{
  float:left;
  text-align:left;
  margin-left:2em;
  font-size:30px;
  font-family:Lato;
  letter-spacing: 2.5px;
  color:white;
}

#riciteam .team{
  display: inline-block;
  padding-top: 1rem;
  width: 20%;
  position: relative;
  margin-left:2%;
  margin-right: 2%;
  font-family:Roboto;
  letter-spacing:3;
}

#riciteam .team a{
  text-decoration: none;
  font-family: Roboto;
  color: white;
}

#riciteam .team img{
  border-radius: 50%;
  max-width: 100%;
  max-height: 75%;
  border: 0.5px white solid;
}

.subtitle{
  font-weight:bolder;
  font-size:15px;
  letter-spacing:2px;
  margin-bottom:-12px;
}

.subsub{
  font-size:15px;
  margin-bottom: -12px;
}

.subsub:after{
  line-height:0;
}


#introduction{
  height: auto;
  clear:both;
  max-width:100%;
  margin-left:20em;
  padding-right:5em;
  margin-top:10em;
  color:white;
  font-family: Roboto;
  font-size:12px;
  text-align:left;
  letter-spacing:1px;
}

#introback{
  text-align:left;
  margin-right:7em;
  font-family:roboto;
  margin-left:auto;
  width:40%;
  font-size: 12px;
  margin-bottom:2em;
  line-height:1.5;
  padding-top:1.5em;
}

#introback a{
  text-decoration:underline;
  color: white;
}

#introduction img{
  width:100%;
  border-radius:10px;
  margin-top:1em;
}

#dq .title{
  clear:both;
  max-width:100%;
  margin-left:30%;
  margin-right:10%;
  color:white;
  font-family: Lato;
  font-size:40px;
  text-align:center;
  margin-top:2em;
  padding-top:1em;
  margin-bottom:2em;
  padding-bottom:1em;
  border-top:1px solid white;
  border-bottom:1px solid white;
}

.caption{
  text-align: center;
}

#presearch{
  height: auto;
  clear:both;
  max-width:100%;
  margin-left:20em;
  padding-right:5em;
  margin-top:10em;
  color:white;
  font-family: Roboto;
  font-size:12px;
  text-align:left;
  letter-spacing:1px;
}

#showcase{
  text-align:left;
  margin-right:7em;
  font-family:roboto;
  margin-left:auto;
  width:40%;
  font-size: 12px;
  margin-bottom:2em;
  line-height:1.5;
  padding-top:1.5em;
}

#showcase .subsub{
  margin-left:-1em;
}

#photogallery{
  height:auto;
  max-width:100%;
  margin-left:15em;
  margin-right:10em;
  margin-top:3em;
}

#photoaf{
  height:40em;
  max-width:100%;
  border-radius:5px;
  background-image:url("images/presearcha.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  margin-bottom:1em;
  transition: all 0.5s;

}

#photogallery .caption{
  font-family:Roboto;
  color:white;
  text-align:center;
  font-size:12px;
  letter-spacing:1px;
  margin-top:1em;
}

#selector{
  display:inline-block;
  width:100%;
  align-content:center;
  margin-right:8em;
  margin-top:1em;
}

#selector .choice{
  width:17%;
  background-color:white;
  height:20px;
  margin:1px;
  float:right;
  margin-right:1em;
  height:6em;
  border-radius:5px;
  transition: all 1s;
}

#selector .choice:first-child{
  background-image: url("images/presearche.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  opacity :0.5;
}

#selector .choice:nth-child(2){
  background-image: url("images/presearchd.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  opacity :0.5;
}

#selector .choice:nth-child(3){
  background-image: url("images/presearchc.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  opacity :0.5;
}

#selector .choice:nth-child(4){
  background-image: url("images/presearchb.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  opacity :0.5;
}

#selector .choice:nth-child(5){
  background-image: url("images/presearcha.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

#interviews{
  height: auto;
  clear:both;
  max-width:100%;
  margin-left:20em;
  padding-right:5em;
  margin-top:5em;
  color:white;
  font-family: Roboto;
  font-size:12px;
  text-align:left;
  margin-bottom:5em;
}

.right{
  text-align:left;
  margin-right:7em;
  font-family:roboto;
  margin-left:auto;
  width:40%;
  font-size: 12px;
  margin-bottom:2em;
  line-height:1.5;
  letter-spacing: 1PX;
  padding-top:1.5em;
}

#personas{
  height: auto;
  clear:both;
  max-width:100%;
  margin-left:20em;
  padding-right:5em;
  margin-top:5em;
  color:white;
  font-family: Roboto;
  font-size:12px;
  text-align:left;
  margin-bottom:5em;
}

#pergallery{
  height:auto;
  max-width:100%;
  margin-left:15em;
  margin-right:10em;
  margin-top:3em;
}

#pphotos{
  height:30em;
  max-width:100%;
  border-radius:5px;
  background-image:url("images/rp2.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size:contain;
  margin-bottom:1em;
  transition: all 0.5s;
}

#pselector{
  display:inline-block;
  width:100%;
  align-content:center;
  margin-left:-6%;
  margin-top:1em;
}

#pergallery .caption{
  font-family:Roboto;
  color:white;
  text-align:center;
  font-size:12px;
  letter-spacing:1px;
  margin-top:1em;
}

#pselector .pchoice{
  width:20%;
  background-color:white;
  height:20px;
  margin:1px;
  float:right;
  margin-right:1em;
  height:6em;
  border-radius:5px;
  transition: all 1s;
}

#pselector .pchoice:first-child{
  background-image: url("images/rp4.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  opacity :0.5;
}

#pselector .pchoice:nth-child(2){
  background-image: url("images/rp3.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  opacity :0.5;
}

#pselector .pchoice:nth-child(3){
  background-image: url("images/rp1.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  opacity :0.5;
}

#pselector .pchoice:nth-child(4){
  background-image: url("images/rp2.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  opacity :1;
}

#flow{
  height: auto;
  clear:both;
  max-width:100%;
  margin-left:20em;
  padding-right:5em;
  margin-top:5em;
  color:white;
  font-family: Roboto;
  font-size:12px;
  text-align:left;
  margin-bottom:5em;
}

#flow img{
  width:100%;
  border-radius:10px;
  margin-top:1em;
}

#th .title{
  clear:both;
  max-width:100%;
  margin-left:25%;
  margin-right:10%;
  color:white;
  font-family: Lato;
  font-size:25px;
  text-align:center;
  margin-top:2em;
  padding-top:1em;
  margin-bottom:2em;
  padding-bottom:1em;
  border-top:1px solid white;
  border-bottom:1px solid white;
}

#design{
  height: auto;
  clear:both;
  max-width:100%;
  margin-left:20em;
  padding-right:5em;
  margin-top:5em;
  color:white;
  font-family: Roboto;
  font-size:12px;
  text-align:left;
  margin-bottom:5em;
}
