
body{
  background-color: white;
  text-align: center;
  max-width:100%;
  height:auto;

}

header{
  background-color: #FFFFFF;
  overflow: hidden;
  position: fixed;
  width:100%;
  padding-top:10px;
  margin-bottom:8px;
  z-index: 2;
  transition: all 0.4s ease 0s;
}

#logo{
  background-image: url("images/weblogo.png");
  height:35px;
  width: 70px;
  margin-left: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

#buttstuff{
  font-family: Lato;
  position: relative;
  float: right;
  padding-right: 30px;
  top: -25px;
}

#buttstuff ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#buttstuff li{
  float: right;
  margin-right:16px;
}

#buttstuff li a{
  display: block;
  color: #00283D;
  text-align:center;
  text-decoration: none;
}

#me{
  height:auto;
  max-width:95%;
  display: block;
  left:0px;
}

main{
  width:90%;
  display:grid;
  text-align: left;
  padding-top:100px;
  font-family: Roboto;
  margin-top: 70px;
  margin:auto;
  font-size:13px;
  color: #3F3135;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  margin-bottom:0.5vw;
}

main p{
  max-width:90%;
}

#Hello{
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
}

footer{
  position: fixed;
  bottom:0;
  width: 100%;
  height:2.5rem;
  background-color: #00283D;
  color: #FFFFFF;
  font-family: Lato;
  font-size:13px
}

.empha{
  margin-left:-15px;
}
.deta {
  color: #9B9B9B;
  margin-left:15px;
  margin-bottom: 10px;
  margin-top:10px;
}

.work {
  height: 45vw;
  width: 97%;
  margin: auto;
  font-family: Roboto;
  border-radius: 5px;
  /*#F1516 #809848*/
}

a{
  text-decoration: none;
  color: #FFFFFF;
}

.work p{
  width:50%;
  margin-right: 1vw;
  margin-left: auto;
  text-align:left;
  margin-bottom:-1vw;
  font-size:1vw;
}

.work p:first-child{
  padding-top:20vw;
  font-size:5vw;
  font-style:bold;
}

#rici {
  background-image: url("images/ricicover.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  border-radius: 5px;
  max-width:100%;
}


#datavoid{
  background-image: url("images/welcometothevoid.png");
  background-size:100%;
  background-position: center;
}

#datavoid p{
  text-align:right;
}

#quicklinks{
  margin-top:1vw;
  height:9vw;
  width:100%;
  margin-bottom:1vw;
  font-family:Roboto;
}

#quicklinks p:first-child{
  font-size:1.5vw;
}

#quicklinks img{
  display:inline-block;
  margin-left:1vw;
  margin-right:1vw;
  height:5vw;
}
