
body{
  background-color: white;
  text-align: center;
  max-width:100%;
  height:auto;

}

header{
  background-color: #FFFFFF;
  overflow: hidden;
  position: fixed;
  width:100%;
  padding-top:10px;
  margin-bottom:8px;
  z-index: 2;
  transition: all 0.4s ease 0s;
}

#logo{
  background-image: url("images/weblogo.png");
  height:35px;
  width: 70px;
  margin-left: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

#buttstuff{
  font-family: Lato;
  position: relative;
  float: right;
  padding-right: 30px;
  top: -25px;
}

#buttstuff ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#buttstuff li{
  float: right;
  margin-right:16px;
}

#buttstuff li a{
  display: block;
  color: #00283D;
  text-align:center;
  text-decoration: none;
}

#me{
  height:auto;
  max-width:95%;
  display: block;
  left:0px;
}

main{
  width:90%;
  display:grid;
  text-align: left;
  padding-top:100px;
  font-family: Roboto;
  margin-top: 70px;
  margin:auto;
  font-size:13px;
  color: #3F3135;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  margin-bottom:40px;
}

main p{
  max-width:90%;
}

#Hello{
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
}

footer{
  position: fixed;
  bottom:0;
  width: 100%;
  height:2.5rem;
  background-color: #00283D;
  color: #FFFFFF;
  font-family: Lato;
  font-size:13px
}

.empha{
  margin-left:-15px;
}
.deta {
  color: #9B9B9B;
  margin-left:15px;
  margin-bottom: 10px;
  margin-top:10px;
}

.work {
  height: auto;
  width: 97%;
  margin: auto;
  font-family: Roboto;
  border-radius: 5px;
  /*#F1516 #809848*/
}

.work div{
  float: right;
  height: auto;
  width: 50%;
  background-color: hsla(227, 67%, 9%, 0.1);
  color: white;
  border-radius: 20px;
  margin-top: 3rem;
  margin-right: 4rem;
}

.work div p{
  text-align: left;
  padding-left:1rem;
  margin-bottom:0px;
  line-height: 1;
}

.work div p:first-child{
  font-size:70px;
  font-family: Lato;
}

.work div p:nth-child(2){
  font-size: 40px;
}

.work div p:nth-child(3){
  font-size: 13px;
  line-height:1.2;
}

#rici {
  height: 35rem;
  background-image: url("images/ricicover.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  border-radius: 5px;
  max-width:100%;
}


#datavoid{
  height:35rem;
  background-image: url("images/welcometothevoid.png");
  background-size:100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 2em;
}
