
body{
  background-color: white;
  text-align: center;
  max-width:100%;

}

header{
  background-color: #FFFFFF;
  overflow: hidden;
  position: fixed;
  width:100%;
  padding-top:10px;
  margin-bottom:8px;
  z-index: 2;
  transition: all 0.4s ease 0s;
}

#logo{
  background-image: url("images/weblogo.png");
  height:35px;
  width: 70px;
  margin-left: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

#buttstuff{
  font-family: Lato;
  position: relative;
  float: right;
  padding-right: 30px;
  top: -25px;
}

#buttstuff ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#buttstuff li{
  float: right;
  margin-right:16px;
}

#buttstuff li a{
  display: block;
  color: #00283D;
  text-align:center;
  text-decoration: none;
}

#me{
  height:auto;
  max-width:95%;
  display: block;
  left:0px;
}

main{
  width:90%;
  display:grid;
  text-align: left;
  padding-top:100px;
  font-family: Roboto;
  margin-top: 70px;
  margin:auto;
  font-size:13px;
  color: #3F3135;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  margin-bottom:40px;
}

main p{
  max-width:90%;
}

#Hello{
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
}

footer{
  position: fixed;
  bottom:0;
  width: 100%;
  height:2.5rem;
  background-color: #00283D;
  color: #FFFFFF;
  font-family: Lato;
  font-size:13px
}

.empha{
  margin-left:-15px;
}
.deta {
  color: #9B9B9B;
  margin-left:15px;
  margin-bottom: 10px;
  margin-top:10px;
}

.work {
  height: 35rem;
  width: 100%;
  margin: auto;
  background-color: #FFCF99;
  font-family: Roboto;
  /*#F1516 #809848*/
}

.work div{
  float: right;
  width: 50%;
  background-color: hsla(227, 67%, 9%, 0.1);
  color: white;
  border-radius: 20px;
  margin-top: 3rem;
  margin-right: 4rem;
}

.work div p{
  text-align: left;
  padding-left:1rem;
  margin-bottom:0px;
  line-height: 1;
}

.work div p:first-child{
  font-size:70px;
  font-family: Lato;
}

.work div p:nth-child(2){
  font-size: 40px;
}

.work div p:nth-child(3){
  font-size: 13px;
  line-height:1.2;
}

#rici {
  background-image: url("images/ricicover.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

#rici:hover{
  background-image: url("images/ricicoverhover.jpg");
  transition-timing-function: ease-out;
  transition: all 0.5s;
}

#ricibanner{
  width:100%;
  height:35rem;
  background-image: url("images/ricibanner.jpg");
  background-position: center;
  background-size: cover;
}

#ricibanner p{
  text-align: center;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 20px;
}

#ricibanner p:first-child{
  padding-top: 17rem;
  font-size:80px;
  margin-bottom:-10px;
  border-bottom: 1px solid #ffffff;
  font-family: Lato;
  margin: auto;
  width: 40%;
}

#riciteam{
  height: auto;
  max-width: 100%;
  background-color: white;
  color: #3F3135;
  padding-top:-5em;
  margin-left:7em;
  padding-right:7em;
  margin-top:-2em;
  margin-bottom:-2em;
}

#riciteam p:first-child{
  text-align:left;
  padding-top:3rem;
  font-family: Lato;
  font-size:40px;
  letter-spacing: 1px;
  margin-bottom:-5px;
}

#riciteam p:nth-child(2){
  text-align:left;
  font-family: Lato;
  font-size:15px;
  font-weight:bold;
  line-height:20px;
}

#riciteam .team{
  display: inline-block;
  padding-top: 2rem;
  width: 20%;
  position: relative;
  margin-left:2%;
  margin-right: 2%;
}

#riciteam .team a{
  text-decoration: none;
  font-family: Roboto;
  color: #3F3135;
}

#riciteam .team img{
  border-radius: 50%;
  max-width: 100%;
  max-height: 75%;
}

#riciteam .team p{
  font-family: Roboto;
  color: #3F3135;
  font-size: 15px;
  text-align: center;
}


#introduction{
  height: auto;
  background-color: white;
  text-align:left;
  max-width: 100%;
  width:100%;
}

#introduction .title{
  font-family: Lato;
  padding-top:3rem;
  font-size: 40px;
  text-align:left;
  letter-spacing: 1px;
  width: 80%;
}

#introduction p{
  font-family:Roboto;
  padding-left:7rem;
  text-align: left;
  width: 30%;
  font-size:15px;
}

#riciright{
  float: right;
  height:100%;
  width: 60%;
  margin-bottom: 3em;
}

#introduction a{
  text-decoration:none;
  color: #9B9B9B;
}

#introduction .caption{
  text-align: center;
  color: #9B9B9B;
  padding-top:1em;
  padding-left:1em;
  width:40%;
  margin:auto;
}

#riciright img{
  max-width: 100%;
  border-radius: 15px;
  height: auto;
}

.caption{
  text-align: center;
}

#presearch{
  clear:both;
  background-color: white;
  height:auto;
  max-width: 100%;
  margin-bottom: 100px;
  text-align: left;
  margin-left: 7em;
  margin-right:7em;
  font-family: Roboto;
  font-size: 15px;
  text-align: left;
  letter-spacing:0px;
}

.title{
  font-family: Lato;
  font-size: 40px;
  text-align:left;
  letter-spacing: 1px;
  width: 80%;
}

.selection{
  color: #9B9B9B;
  transition: all 1s;
}

.selection:hover{
  color: #00283D;
}

.showcase{
  float: right;
  width: 50%;
  padding-left: 6em;
  margin-left: 5em;
  border-left: black solid 1px;
}

.clickable{
  width:100%;
  height:auto;
}

.overlay{
  position:fixed;
  z-index: 99;
  top:0;
  left:0;
  width: auto;
  height:auto;
  background-color: white;
}
